.container {
  padding-top: 80px; /* 헤더의 높이에 따라 이 값을 조정하세요 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 2rem;
  max-width: 1200px; /* 원하는 최대 너비로 조정하세요 */
  margin: 0 auto;
  width: 100%;
}

.title {
  margin-bottom: 2rem;
}

.publicationList {
  width: 100%;
  max-width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.publicationItem {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
}

.publicationItem::before {
  content: '•';
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  color: #000000;
}

.publicationItem h3 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem; /* 이 값을 줄여서 제목과 저자 사이의 간격을 줄입니다 */
  text-align: left;
}

.authors {
  font-size: 1rem;
  margin-top: 0; /* 저자 정보의 상단 마진을 제거합니다 */
  margin-bottom: 0.1rem; /* 저자와 venue 사이의 간격을 유지합니다 */
}

.venue {
  font-size: 1rem;
  margin-top: 0; /* venue의 상단 마진을 제거합니다 */
  margin-bottom: 0.5rem;
  color: #666;
}

.links a {
  margin-right: 1rem;
  color: #0070f3;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.sectionTitle {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}
